html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#header {
  margin: 0;
  padding: 1em;
  top:0;
  left: 0;
  right: 0;
  background-color: black;
  color: bisque;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aqua;
}
