html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
   background: 
 
  url(./Assets/code-coding-computer-technology.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.App {
  text-align: center;
}

#main{
  background: 
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 100%),
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 90%),

  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 75%),
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 50%),
  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 10%),
  linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 40%);

  background-size: 100vw;
  background-repeat: no-repeat;
  color: white;
  height: 79vh;
}

#header {
  margin: 0;
  padding: 1em;
  top:0;
  left: 0;
  right: 0;
  background-color: black;
  color: bisque;
  display: flex;
  flex-direction: column;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}

#toggledDesk {
  height: 50vh;
  width: 40vh;
  background-color: rgba(151, 151, 151, 0.75);
  position: absolute;
  color: black;
  animation: fadeIn .5s;
  top: 10em;
  border-radius: 10px;
}

#toggledMobile {
  height: 50vh;
  width: 50vw;
  background-color: rgba(151, 151, 151, 0.75);
  position: absolute;
  color: black;
  animation: fadeIn .5s;
  top: 10em;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 40%),
  linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 60%),
  linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 90%),
  linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0) 100%);
  color: beige;
}

.flex{
  display: flex;
  align-items: center;
}

.flexLeft{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}

.flexRight{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}

